# -*- mode: snippet -*-
# name: article
# key: article
# --
\documentclass{article}

\usepackage{graphicx}
\usepackage[margin=1in]{geometry}
\usepackage[sorting=none,style=ieee]{biblatex}

% \addbibresource{main.bib}


\begin{document}

$0

\end{document}